<div class="content">
  <p>The unofficial first generation Pokemon guide created by Brady and Devon!</p>
  <p>Browse the <b><%= link_to "Types", types_path %></b>, <b><%= link_to "Abilities", abilities_path %></b>, and <b><%= link_to "Pokemon", pokemons_path %></b> from the first generation!</p>
  <p>It should be noted that there are a few abilities and types with no associated Pokemon, this is due to limiting the data to just the first generation.</p>
</div>