<hr>
<footer class="pl-5">
  <p><em>WEBD-3008 Data Project</em></p>
  <ul class="m5-5">
    <li><%= link_to "Types", types_path%></li>
    <li><%= link_to "Pokemon", pokemons_path%></li>
    <li><%= link_to "Abilities", abilities_path%></li>
  </ul>
  <br>
</footer>